<?xml version="1.0" encoding="utf-8" ?>
<SystemConfig>
  <!--本系统数据库/主数据连接-->
  <add key="MainConStrings" value="Data Source=(local);Initial Catalog=GGN_Center;User ID=sa;Password=817178" />
  <!--其他数据库/跨库数据连接-->
  <add key="OtherDbConString" value="Data Source=(local);Initial Catalog=GGN_Center;User ID=sa;Password=817178" />
  <!--行为历史/异常记录数据库连接-->
  <add key="HistoryLogStrings" value="Data Source=(local);Initial Catalog=GGN_Center;User ID=sa;Password=817178" />
  <!--Redis连接-->
  <add key="RedisIp" value="127.0.0.1,6379,123456" />
  <!--MongoDB连接-->
  <add key="MongoDBIp" value="xxxxx" />
  <!--ActiveMQ地址-->
  <add key="ActiveMqIP" value="tcp://127.0.0.1:61616/" />
  <!--ActiveMQ主题-->
  <add key="ActiveMqSubject" value="xxxxx"/>
</SystemConfig>